@charset "utf-8";

@import url("framework.css");

/* Header */

#header{
  height: 140px;
}
#header #logo{margin:30px 0 0 0;}
#header #logo h1{margin:0; padding:0; font-size:45px; display: inline;}

/*logindata*/
.logindata{
  margin-bottom: 10px;
  position: relative;
  bottom: 5px;
  left: 5px;
  height: 25px;
  width: 150px;
}
/*header btn*/
.loginsignup{
  width: 86px;
  border-radius:5px;
  background-clip:padding-box;
  height: 27px;
  position: relative;
  bottom:2px;
}

#right_gogo{

  float: right;
}

#login{
  margin-left:5px;
}

#catefory_notice{
  text-align: center;
  padding: 20px;
}

#table_div{
  text-align: center;
}

#copyright{
  text-align: center;
}

footer{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

table{
  margin: auto;
  width: 80%;
  border-collapse: collapse;
}
td{
  text-align: center;
  height: 30px;
  border: solid 1px white;
}
#write_writer{
  width: 20%;
}
#write_content{
  width:60%;
}
#write_time{
  width: 20%;
}
#input_content_div{
  text-align: center;
  margin: 20px;
  width: 100%;
}
#input_text{
  width: 60%;
}
/*Register*/
#writingFormContainer{
   background-color: #ffffff;
   width: 400px;
   height: 250px;
   margin: 120px 460px;
   position: absolute;
   z-index: 2;

}
#ximgBox{
  width: 400px;
  height: 45px;
  margin-bottom: 30px;
}
#ximg{
  width: 35px;
  height: 35px;
  float: right;
  margin: 10px;
}
#signIn{
  position: relative;
  left : 40px;
}
.reg{
  margin:10px;
}
#log-in{
  color: black;
}
#writingTransparentBorder
{
   background-color: #000000;
   height: 600px;
   width: 100%;
   margin: 0;
   position: absolute;
   opacity: 0.2;
   z-index: 1;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7a5b3d), color-stop(1, #856f58));
	background:-moz-linear-gradient(top, #7a5b3d 5%, #856f58 100%);
	background:-webkit-linear-gradient(top, #7a5b3d 5%, #856f58 100%);
	background:-o-linear-gradient(top, #7a5b3d 5%, #856f58 100%);
	background:-ms-linear-gradient(top, #7a5b3d 5%, #856f58 100%);
	background:linear-gradient(to bottom, #7a5b3d 5%, #856f58 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a5b3d', endColorstr='#856f58',GradientType=0);
	background-color:#7a5b3d;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #856f58), color-stop(1, #7a5b3d));
	background:-moz-linear-gradient(top, #856f58 5%, #7a5b3d 100%);
	background:-webkit-linear-gradient(top, #856f58 5%, #7a5b3d 100%);
	background:-o-linear-gradient(top, #856f58 5%, #7a5b3d 100%);
	background:-ms-linear-gradient(top, #856f58 5%, #7a5b3d 100%);
	background:linear-gradient(to bottom, #856f58 5%, #7a5b3d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#856f58', endColorstr='#7a5b3d',GradientType=0);
	background-color:#856f58;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*header bar*/
#login_id{

}
/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Rounded Corners
--------------------------------------------------------------------------------------------------------------- */
.btn, .icon, #footer input, #footer button, #backtotop, .faico a, .elements li{border-radius:10px; background-clip:padding-box;}

/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#CBCBCB; background-color:#1A1A1A;}
a{color:#FFAA31;}
a:active, a:focus{background:transparent;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#56AED4;}
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#FFAA31; border-color:#FFAA31;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}
.icon{color:inherit; border-color:inherit;}
.gotodetail .icon:hover, article:hover a .icon{color:#FFFFFF; background-color:gray; opacity:0.5;}

/* Rows */
.row1{color:#FFFFFF; background-color:rgba(255,255,255,.4);}
.row2, .row2 a{}
.row3{color:#929292; background-color:#FFFFFF;}
.row3 .heading{color:#474747;}
.row4{color:#CBCBCB; background-color:#272727; border-color:#FFAA31;}
.row5, .row5 a{color:#CBCBCB; background-color:#1A1A1A;}

/* Header */
#header #logo a{color:inherit;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
   .hoc, .split{max-width:978px;}
}
